@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Lobster+Two:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  color: #222;
}

a {
  text-decoration: none;
  color: #222;
}

a:hover {
  color: #777;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1, h2, h3, h4 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #e6e6e6;
  /*margin-bottom: 60px;*/
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li a {
  display: flex;
  align-items: center;
}

.nav ul li a svg {
  margin-right: 5px;
}

.logo {
  font-family: 'Lobster Two', cursive;
  font-size: 28px;
}

.logo svg {
  margin-left: 7px;
}

.header {
  width: 100%;
  min-height: 200px;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /*color: #fff;
  text-shadow: -1px 1px 2px #333;*/
  
}

.header img {
  max-width: 100%;
  display: block;
}

.header-text {
  display: none;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.logout:hover {
  color: #777;
  cursor: pointer;
}

.content {
  text-align: left;
}

.content a {
  color: #3c789e;
}

.content a:hover {
  color: #333;
}

.recipes {
  width: 100%;
  margin-top: 20px;
}

.recipe {
  border-bottom: 1px solid #ccc;
  display: flex; 
  align-items: center;
  text-align: left;
  padding: 15px 20px 5px;
  cursor: pointer;
}
.recipe:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.recipes a {
  color: #333;
}

.recipes a:hover {
  color: #666;
}

.details-recipe {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 250px;
  margin-bottom: 20px;
}

.details-recipe h4 {
  margin-bottom: 10px;
}

.details-description {
  width: 70%;
  margin: 30px auto;
}

.details-instructions {
  width: 60%;
  white-space: pre-line;
}
.details-ingredients {
  width: 40%;
}

.item-list {
  display: flex;
  flex-direction: column;
}
.item-list-item {
  display: inline-flex;
  height: 30px;
}

.remove-item svg {
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 1px;
}

.amount {
  width: 30%;
}

.ingredient {
  margin-left: 20px;
  width: 70%;
}

.form,
.content {
  width: 80%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  outline: none;
}

.form-group input:focus,
.form-group textarea:focus{
  border: 1px solid #333;
}

.form-group select {
  background-color: #ddd;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.ingredients {
  display: flex;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-small {
  width: 200px;
  margin: 10px auto;
}

.btn:hover {
  color: #ccc;
}

.error-msg {
  color: crimson;
  font-size: 20px;
  font-weight: 600;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }

  .details-recipe {
    flex-direction: column;
  }

  .details-ingredients {
    margin: 0 auto;
    width: 100%;
  }

  .details-instructions {
    margin: 20px auto;
    width: 100%;
  }
  .details-description {
    width: 100%;
  }
  .header img {
    display: none;
  }
  
  .header-text {
    display: block;
  }
}